* {margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #A93939;}
@media screen and (max-width:320px){}
  p {
    background-color: #A93939;
    color: #FFEBCD;
    font-family: 'Tajawal', sans-serif;
    font size: 20px;
  }
  h1 {
  color:#FFEBCD;
  font-size: 40px;
  align-items: center;
}
h3 {
  float:clear;
  align:center;
  font-size: 35px;
}
  header {
    background-color: #A93939;
  }
  body {
    background-color: #A93939;
    color: #FFEBCD;
    margin: 10px;
    padding 15px;
  }
  footer {
    background-color: #A93939;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  img {
  display: inline-block;
  justify-content: center;
  align-items: center;}
  .parallax {
   background-image: url("pexels-photo-624063.jpg");
   min-height: 500px;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
  .backgroundimage1 {
 background-image: url("slack-imgs.jpg");
 min-height: 500px;
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.tablinks {
  background-color: #A93939;
  color: #FFEBCD;
  font-size: 25px;
  float: left;
  border: #A93939;
  outline: none;
  cursor: pointer;
  padding: 35px 38px;
  transition: 0.3s;
  text-decoration: none;
}
.tab button:hover {
background-color: ##CFBEA5;
}
.tab button.active {
background-color: #A93939;
}
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #A93939;
border-top: none;
}
.tab{
  display: flex;
  justify-content: center;
  padding: 0px;
}
